.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 350px;
    min-height: 200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
}

.form-layout {
    width: 100%;

    .form-group {
        margin-bottom: 15px;

        input {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:focus {
                border-color: #007bff;
                box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
            }
        }
    }

    .form-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.extra-links {
    margin-top: 15px;
    text-align: center;

    a,
    button {
        color: #007bff;
        font-size: 14px;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}

.password-rules-toggle {
    margin-top: 5px;
    /* Add spacing */
    font-size: 0.85rem;
    /* Smaller font for subtlety */
    color: #106ba3;
    /* Blueprint primary color */
    background: none;
    /* Remove default button background */
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Add pointer for interactivity */
    padding: 0;
    /* Remove extra padding */
    text-align: left;
    /* Align text to the left */
}

.password-rules-toggle:hover {
    text-decoration: underline;
    /* Add hover effect */
}

.password-rules-toggle:focus {
    outline: none;

}

.password-rules {
    margin-top: 10px;
    /* Adjust margin above the list */
    padding-left: 20px;
    /* Indent the list */
    list-style-type: disc;
    /* Bullet points */
    color: #5c7080;
    /* Neutral gray color for readability */
    font-size: 0.9rem;
}

.password-bar {
    margin-top: 4px;
    height: 4px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.password-bar.valid {
    background-color: #28a745;
    /* Green for valid */
}

.password-bar.invalid {
    background-color: #dc3545;
    /* Red for invalid */
}