// Navigation.scss

.notification-button {
    position: relative;
}

.notification-indicator {
    position: absolute;
    top: 5px; // Adjust these values as needed to position the dot within the bell icon
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.bp5-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.bp5-navbar-heading {
    text-decoration: none !important;
    color: #3D5AFE;
    font-weight: bold;
    font-size: 1.5rem;
}

.bp5-button {
    margin-right: 10px;
}

.bp5-navbar-divider {
    margin: 0 15px;
    height: 20px;
}

.bp5-popover {
    &.bp5-popover-placement-bottom {

        .bp5-popover-arrow,
        .bp5-popover-arrow-border {
            margin-left: -5px; // Adjust this value to move the caret horizontally
        }
    }
}