@import './variables';

.bp5-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; // Change from 100vw to 100%
    background-color: $background-color;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.bp5-navbar-heading {
    font-weight: bold;
    font-size: 1.2rem;
}

.bp5-button {
    margin-right: 10px;
}

.bp5-navbar-divider {
    margin: 0 15px;
    height: 20px;
}