

.calendar-container {
    text-align: center;
    margin: 20px;
    color: white;
  }

  
  
  .bp3-calendar {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
  }
  
  .has-posts {
    background-color: #3bd8ff; /*цвет для дней с постами */
    color: white;
  }
  
  .bp3-calendar__tile {
    border-radius: 5px;
    position: relative;
  }
  
  .bp3-calendar__tile:hover {
    background-color: #f0f0f0;
  }
  
  .bp3-calendar__tile:focus {
    outline: none;
  }
  

  .mood-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .mood-card {
    width: 200px;
    text-align: center;
    padding: 10px;
  }
  
  .mood-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .mood-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .mood-info {
    display: flex;
    flex-direction: column;
  }
  
  .mood-time {
    font-size: 12px;
    color: #888;
  }
  
  .mood-gif img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  

  .bp3-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .bp3-progress-bar {
    height: 20px;
    border-radius: 5px;
  }
  

  .bp5-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .bp5-progress-bar {
    height: 20px;
    border-radius: 5px;
  }
  